body{
    padding:  0% 20% 1% 20%;
    background:url('img/fondo9.png') fixed no-repeat;
    background-size:100%;
}

.item1 { grid-area: header; }
.item2 { grid-area: img; }        
.item3 { grid-area: redes1; }
.item4 { grid-area: redes2; }
.item5 { grid-area: button; }

.grid-container {
    padding:1% 1% 1% 1%;
    border-radius:30px;
    display: grid;
    grid-template-areas:
    'header'
    'img'
    'redes1'
    'redes2'
    'button';
    background-color: rgba(0, 0, 0);
}
.grid-container > div {
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
    color:white;
}
.item4 > a > img:hover {
    border-radius:20px;
    background-color: rgba(255, 255, 255);
}
input[type=submit] {
    border-radius:30px;
    font-size:15px;
    padding:8px 10px 8px 10px;
    color:black;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
input[type=submit]:hover {
    background-color: grey;
    color: white;
}
p{
    text-align:left;
}